* {
	padding: 0;
	margin: 0;
	user-select: none;
}

body {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	font-size: 12px;
	font-family: "Open Sans";
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: none; 
}
::-webkit-scrollbar-thumb {
    background: #111; 
}
::-webkit-scrollbar-thumb:hover {
    background: #111; 
}

:root {
	--cell-width: 32px;
	--cell-height: 32px;
	--cell-border-color: #00000063;
}

column {
	display: flex;
	flex-direction: column;
}

row {
	display: flex;
}

layout {
    display: flex;
    flex: 1;
    flex-direction: column;
}

game {
	display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

map {
	position: relative;
    display: flex;
	flex-direction: column;
	cursor: pointer;
}
map cell {
	display: inline-block;
	width: var(--cell-width);
	height: var(--cell-height);
	box-sizing: border-box;
	border-left: 1px dashed var(--cell-border-color);
	border-top: 1px dashed var(--cell-border-color);
}
map row:last-child cell {
	border-bottom: 1px dashed var(--cell-border-color);
}
map cell:last-child {
	border-right: 1px dashed var(--cell-border-color);
}
map cell.grass {
	background: #8BC34A;
}
map cell.road {
	background: #90ce49;
}
map cell.building {
	background: #8BC34A;
	/* background: #c7c7c7; */
}
map cell.water {
	background: #2aa1ff;
}
map entites {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
map entities entity {
	position: absolute;
}
map entities entity player {
	position: absolute;
	width: 16px;
	height: 16px;
	background: red;
	border-radius: 16px;
	box-shadow: 0 0 2px black;
	border: 1px solid black;
	z-index: 99;
}
map entities entity img {
	width: 16px;
	height: 16px;
	transform: scale(2);
	image-rendering: pixelated;
	object-fit: none;
	object-position: 0 0;	
}
map placement {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1px 1px;
}
map placement cell {
	border: 0;
	background: white;
	opacity: 0.3;
}
map placement cell.invalid {
	background: red;
}

header {
	display: flex;
	padding: 5px;
    justify-content: center;
	align-items: center;
	background: #000;
}
header item {
	display: flex;
	margin: 0 10px;
    justify-content: center;
	align-items: center;	
    color: #fff;
}
header item icon {
	display: inline-block;
	width: 18px;
	text-align: center;
}
header item value {
	text-transform: capitalize;
	font-weight: 600;
}

brushes {
	display: flex;
    justify-content: center;
	background: #cccbcb;
	border-bottom: 1px solid #adadad;
}
brushes brush {
	padding: 7px 10px;
    min-width: 42px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}
brushes brush:hover {
	background: #eee;
    font-weight: 600;
}
brushes brush.active {
	background: #fff;
    font-weight: 600;
}
